 *{
        margin: 0;
        padding: 0;
        }
        body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            background-color: rgb(31, 29, 29);
        }
     

        /* calculator----------------- */
        /* body */
        .cal{
            background-color: black;
            height:500px;
           max-width:400px;
            border-radius:10px;
            padding: 20px;
            margin: 20px;
            border: 3px solid orangered;
            box-shadow: 0px 0px 16px orangered;
        }
        /* grid formation */
        .btns{
             display: grid;
            grid-template-columns: repeat(4,1fr);
            row-gap: 10px;
            column-gap: 10px;
             padding: 10px;
        }
        /* calculator displaybox */
        #display{
            background-color: rgb(66, 63, 63);
            height:100px;
            width:100%;
            border-radius: 10px;
            font-size: 40px;
            color:white;
         
        }
        #display:hover{
            border:2px solid orangered;
            background-color: rgb(43, 42, 42);
            box-shadow:0px 0px 16px orangered;
            transition: background-color 1s,box-shadow 0.1s;
           
        }
        /* buttons */
        
         .btn{
            background-color: rgb(124, 122, 122);
            height:70px;
            width:70px;
            border-radius: 50%;
            font-size: 40px;
            color:white;
        
        }
        .btn1{
            background-color: rgb(248, 80, 1);
            height:70px;
            width:70px;
            border-radius: 50%;
            font-size: 40px;
            color:white;
            
        }
        .btn1:hover{
             background-color: rgb(247, 136, 85);
             border:2px solid rgb(212, 209, 208);
             box-shadow:0px 0px 16px rgb(240, 236, 234);
            transition: background-color 1s,box-shadow 0.1s;
        }
        .btn:hover{
             background-color: rgb(184, 180, 180);
              border:2px solid rgb(212, 209, 208);
             box-shadow:0px 0px 16px rgb(240, 236, 234);
            transition: background-color 1s,box-shadow 0.1s;
        }
h1{
    color:white;
    font-size:5rem;
    text-shadow:0px 0px 16px orangered;

}